body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	background-image: url(imagens/fundo_matrix.jpg);
	position: absolute;
	background-color: black;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'VT323', monospace;
	margin-left: 2rem;
}

img {
	margin-right: .5rem;
}

h1,
p {
	width: 88%;
}

table {
	width: 100%;
}

h1 {
	font-size: 2.5em;
	color: white;
	background-image: url(imagens/fundo_.jpg);
	background-repeat: repeat-x;

	letter-spacing: .2rem;
}

h1.direita {
	text-align: right;
}

div p {
	color: lightgreen;
	font-size: 1.2em;
	line-height: 1.2;
	text-align: justify;
}

div p::selection {
	background: #bc06eeaf;
	color: #0f0;
}